<a href="https://colab.research.google.com/github/felipemoreia/acelaradev-codenation/blob/master/Analise_Explorat%C3%B3ria_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [0]:
import pandas as pd
import numpy as np

In [0]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [0]:
tuple(black_friday.shape)

(537577, 12)

In [0]:
dataframe = black_friday

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [0]:
def q1():
        return tuple(dataframe.shape)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [0]:
def q2():
    df_female_middleage = dataframe.loc[(dataframe['Gender']=='F')&(dataframe['Age']=='26-35')]
    numero_total = int(df_female_middleage.shape[0])
    return numero_total

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [0]:
def q3():
    return len(dataframe['User_ID'].unique())

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [0]:
def q4():
      return len(dataframe.dtypes.unique())

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [0]:
def q5():
    tot_nulls = dataframe.isnull().any(axis=1).sum()
    tot = dataframe.shape[0]
    perc = float(tot_nulls/tot)
    return perc

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [0]:
def q6():
    df = pd.DataFrame(dataframe.isna().sum())
    num = int(df.max())
    return num

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [0]:
def q7():
    count = pd.DataFrame(dataframe['Product_Category_3'].value_counts())
    biggest = count.head(1).index
    return biggest[0]

In [0]:
q7()

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [0]:
def q8():
    novo_df2 = dataframe
    novo_df2['normalizado'] = (novo_df2['Purchase'] - novo_df2['Purchase'].min())/ (novo_df2['Purchase'].max() - novo_df2['Purchase'].min())
    return float(novo_df2['normalizado'].mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [0]:
def q9():
    novo_df = dataframe
    novo_df['Padronizado'] = (novo_df['Purchase'] - novo_df['Purchase'].mean())/(novo_df['Purchase'].std())
    return len(novo_df[(novo_df['Padronizado']>-1) & (novo_df['Padronizado']<1)])

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [0]:
def q10():
    nullspc2 = int(dataframe['Product_Category_2'].isna().sum())
    interction_pc2_pc3 = len(dataframe[(dataframe['Product_Category_3'].isna())&(dataframe['Product_Category_2'].isna())])
    return nullspc2 == interction_pc2_pc3