<a href="https://colab.research.google.com/github/felipemoreia/acelaradev-codenation/blob/master/Estatistica_descritiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('desafio1.csv')

In [0]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [0]:
df.dtypes

RowNumber                     int64
id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [0]:
df['estado_residencia'].value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

In [0]:
df_answer = df.groupby('estado_residencia')['pontuacao_credito'].agg([pd.Series.mode, pd.Series.median, pd.Series.mean, pd.Series.std])

In [0]:
df_answer.columns = ['moda','mediana', 'media','desvio_padrao']

In [0]:
df_answer

                   moda  mediana       media  desvio_padrao
estado_residencia
PR                  850      650  648.961294      98.607186
RS                  850      650  651.105143      95.136598
SC                  850      653  649.537653      97.233493

In [0]:
df_answer.T

estado_residencia          PR          RS          SC
moda               850.000000  850.000000  850.000000
mediana            650.000000  650.000000  653.000000
media              648.961294  651.105143  649.537653
desvio_padrao       98.607186   95.136598   97.233493

In [0]:
df_answer.T.to_json('submission.json')