<a href="https://colab.research.google.com/github/felipemoreia/acelaradev-codenation/blob/master/teste_admissao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn import metrics

In [0]:
train = pd.read_csv('train.csv') 
test = pd.read_csv('test.csv') 
df_resposta = pd.DataFrame()

In [0]:
train = train.select_dtypes(include=['int64','float64'])
df_resposta['NU_INSCRICAO'] = test['NU_INSCRICAO']

In [0]:
features = ['NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5','NU_NOTA_REDACAO']

In [0]:
features2 =  ['NU_INSCRICAO','NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO']

In [0]:
dummieses = ['tp_escola_novo', 'tp_dependencia_novo']

train['tp_escola_novo'] = train['TP_ESCOLA'].replace([1,2,3,4],['nr', 'pub', 'pri', 'ext'])
train['tp_dependencia_novo'] = train['TP_DEPENDENCIA_ADM_ESC'].replace([1,2,3,4],['fed', 'est', 'mun', 'priv'])

dummies = pd.get_dummies(train[dummieses])
dummies[features] = train[features]

test['tp_escola_novo'] = test['TP_ESCOLA'].replace([1,2,3,4],['nr', 'pub', 'pri', 'ext'])
test['tp_dependencia_novo'] = test['TP_DEPENDENCIA_ADM_ESC'].replace([1,2,3,4],['fed', 'est', 'mun', 'priv'])

dummies_test = pd.get_dummies(train[dummieses])
dummies_test[features2] = test[features2]

In [0]:
dummies = dummies.loc[
      (dummies['NU_NOTA_CN'].notnull())  & (dummies['NU_NOTA_CN'] != 0) & (dummies['NU_NOTA_CH'].notnull())      & (dummies['NU_NOTA_CH'] != 0) 
    & (dummies['NU_NOTA_LC'].notnull())  & (dummies['NU_NOTA_LC'] != 0) & (dummies['NU_NOTA_REDACAO'].notnull()) & (dummies['NU_NOTA_REDACAO'] != 0)    
]

In [0]:
dummies_test = dummies_test.loc[
      (dummies_test['NU_NOTA_CN'].notnull())  & (dummies_test['NU_NOTA_CN'] != 0) & (dummies_test['NU_NOTA_CH'].notnull())      & (dummies_test['NU_NOTA_CH'] != 0) 
    & (dummies_test['NU_NOTA_LC'].notnull())  & (dummies_test['NU_NOTA_LC'] != 0) & (dummies_test['NU_NOTA_REDACAO'].notnull()) & (dummies_test['NU_NOTA_REDACAO'] != 0)    
]

In [0]:
dummies_test.isnull().sum()

tp_escola_novo_ext          0
tp_escola_novo_nr           0
tp_escola_novo_pri          0
tp_escola_novo_pub          0
tp_dependencia_novo_est     0
tp_dependencia_novo_fed     0
tp_dependencia_novo_mun     0
tp_dependencia_novo_priv    0
NU_INSCRICAO                0
NU_NOTA_CN                  0
NU_NOTA_CH                  0
NU_NOTA_LC                  0
NU_NOTA_COMP1               0
NU_NOTA_COMP2               0
NU_NOTA_COMP3               0
NU_NOTA_COMP4               0
NU_NOTA_COMP5               0
NU_NOTA_REDACAO             0
dtype: int64

In [0]:
y_train = dummies['NU_NOTA_MT']
X = dummies.drop('NU_NOTA_MT', axis=1)

In [0]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X)
df_scaler_test = dummies_test.drop('NU_INSCRICAO', axis=1)
X_test_scaled = scaler.fit_transform(df_scaler_test)
X_train_scaled = pd.DataFrame(X_train_scaled)

In [0]:
cv = 5
scoring = 'r2'
n_jobs = -1

In [0]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor()
scores = cross_val_score(model, X_train_scaled, y_train, cv = cv,
                         scoring = scoring, n_jobs = n_jobs)
scores.mean()

0.4394822601070715

In [0]:
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

In [0]:
dummies_test['NU_NOTA_MT'] = np.around(y_pred,2)

In [0]:
respostas = ['NU_NOTA_MT', 'NU_INSCRICAO']
dummies_resposta = dummies_test[respostas]

In [0]:
df_resposta = df_resposta.merge(dummies_resposta, on='NU_INSCRICAO', how='left')

In [0]:
df_resposta.head(50)

                                NU_INSCRICAO  NU_NOTA_MT
0   73ff9fcc02f0a99919906c942c2e1a1042cdcf98      436.02
1   71a95f9f1b91a82c65ad94abbdf9f54e6066f968      448.63
2   b38a03232f43b11c9d0788abaf060f7366053b6d      584.28
3   70b682d9a3636be23f6120fa9d6b164eb3c6002d         NaN
4   715494628a50142ce8cb17191cfe6d0f3cae0934      542.62
5   e656d6bad65c93fb2880f1eba5037008c8e75774      474.13
6   465cd2a6907fb37d9d8ad3c065f0e2dabdba9b13      518.57
7   11539e86171bf07d3a36f09377d7f54ebcc8406a      438.05
8   043c544a2104aa8a9849f1a703a08d37a2f16839      474.11
9   76ba050e64ad100b856f0eaabd8f539d5c7dd185      455.78
10  8b7c167ea7b55c8168ec60c3851b1b598a8fbd11         NaN
11  db4da599aab5bb08dce27094a35fd3e36cd0abce         NaN
12  940aede382ccb332fab15d413217695ec44ca765      455.22
13  9ad714b116da76d878dd399d187fccc2dd13dd63      579.94
14  dd34464a4d780b12a089347ad580418ac57a3055      518.70
15  f837a4cb05a5fd59d20138182f5e8c721eadd584      471.25
16  fbfa8cde21a692b51fb86342110b4a334a0fcfdb         NaN
17  ca8477c8493b09f34d17bb287f9bacf2dd744c32         NaN
18  8b0c675d7fde14953668269d378c588f0df0498b         NaN
19  051c4f04fcbe385e1b3964aeb87f0a41d7f203d0      421.44
20  3d203727f27abd83b71732d88d8cb1cc099f363b      444.63
21  d30d31c8ff45094e9a992c63d4a6f68b245a341a         NaN
22  c0c6a803c271a955a7085a59cd3d4d43bcf7a1a6         NaN
23  cbc301183dec912f3513ca766bf03dd565f3a38f      469.66
24  856aa14bcd11bd289a3b970aab0ce1b166f2c50f      655.68
25  11282da1ee78c8db45a041db4c744e33df489df0      443.87
26  03c67f683a415c2ea09b582248bd4cb08528c19d      587.89
27  046e844fb06a07ba30b41521f0065a8d9c6e5024      433.34
28  b296bc595a212a2f89a35470a4bdbb3bfc3f7f1a      433.54
29  153eebe4d270fe850d2ede7f53cbc81a6f4ddf91         NaN
30  a4e821c6f16fdae0a26cbbb7018b75812dfd074b         NaN
31  f66c2e5ff22a95fa532e78c7c4bf1d145247211d      425.64
32  17f0dd5abd53dea135ffd020e8e8e0761b3a56aa      558.32
33  fbbd23fcfb37cf90b8c1f58eafcab62771f3cd71      479.80
34  a99286ac4fdce6f63b59569b2d8ed85a5c911ea3      512.26
35  f8d4f9a26c5f2023c33701a8888f9c02513a02c7      475.45
36  9785b7d9ca2e8dccfe60ecc0cd2abe1ff51906be      492.67
37  59bfa081e020013410d9f60f91813964ba749bb2      428.65
38  f5e069ee3bc95998464e8ff5da048b7f999921ed      444.37
39  e02240b518016d03a1b5bcc6d0a37b7a527ea93d      624.67
40  664f44258212a1f7e4086f2b4845d586c543fa3f      470.48
41  265cd7befa74a9f2a198fc57baec9858075f8419      444.26
42  6f9ac44919bbd204e0ef15185388fd2d4bc61253      478.25
43  78de1ee60b55766cc3eba4089e36c57139b66ebd      443.41
44  24550edb10f283ef4e953fd6a8fedbfa211bd456         NaN
45  1e61a474acdc043eb39a89c17fab34bd2ea1a940      430.82
46  940af68ded6af2875708611051aa7ff3f134d80b      468.93
47  e7ec3258f3b280c1ddf452d107fbdc9fb5a6b72e      484.55
48  c76ddf6e9f80984e901b12f9462a3cf029bea290      467.71
49  7d39df837488ca3fa6e512fd9e20ec7753b4c36d      448.72

In [0]:
df_resposta.to_csv('answer.csv', index=False, header=True)